/* Fonts */

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('./fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  /* Colors */

  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

/* Fonts */

html {
  font-family: 'Poppins-Regular';
  font-size: 15px;
  line-height: 1.5;
  color: var(--grey-400);
}

html, body {
  min-height: 100vh;
}

body {
  background-color: var(--white);
}

.container {
  padding: 25px;
}

/* Header */

header {
  max-width: 530px;
  margin: 0px auto;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
}

header h1 {
  font-family: 'Poppins-ExtraLight';
  font-size: 1.53rem;
  color: var(--grey-500);
}

header h2 {
  margin-bottom: 10px;
  font-family: 'Poppins-SemiBold';
  font-size: 1.55rem;
  color: var(--grey-500);
}

/* Main */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Card */

.card {
  max-width: 370px;
  padding: 30px 25px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin-bottom: 10px;
  font-family: 'Poppins-SemiBold';
  color: var(--grey-500);
}

.icon-container {
  margin-top: 20px;
  text-align: right;
}

.card-1 {
  border-top: 5px solid var(--cyan);
}

.card-2 {
  border-top: 5px solid var(--red);
}

.card-3 {
  border-top: 5px solid var(--orange);
}

.card-4 {
  border-top: 5px solid var(--blue);
}

/* Tablet */

@media screen and (min-width: 830px) {
  .card-group {
    order: 1;
    flex-direction: row;
  }

  header {
    margin-top: 40px;
  }

  header h1, header h2 {
    font-size: 2.3rem;
  }
}

/* Desktop */

@media screen and (min-width: 1240px) {
  .card-group {
    order: 0;
    flex-direction: column;
  }
}